<app-dashboard-header [loading]="isLoading"></app-dashboard-header>
<div class="d-flex flex-column" *ngIf="weatherData">
  <div>
    <span>City: </span>
    <span>{{weatherData.location}}</span>
  </div>
  <div>
    <span>Weather Conditions: </span>
    <span>{{weatherData.weather}}</span>
  </div>
  <div>
    <span>Temperature: </span>
    <span>{{weatherData.temperature}}</span>
  </div>
  <div>
    <span>Humidity: </span>
    <span>{{weatherData.humidity}}</span>
  </div>
  <div>
    <span>Wind Speed: </span>
    <span>{{weatherData.windSpeed}}</span>
  </div>
</div>
